@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

.Skillcontainer_skillset {
  background-color: white;

  color: #1a1d53;
  font-family: "Merienda", cursive;
  padding-top: 30px;
}

.Skillcontainer_skillset > h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: "Merienda", cursive;
  color: #1a1d53;
}
.Skillcontainer_skillicon {
  padding-block: 20px;
  padding-bottom: 60px;
  justify-content: space-evenly;
}

.skill:hover {
  transform: scale(1.2);
}
.skill > p {
  text-align: center;
}

.Skillcontainer_skillicon > a {
  text-align: center;
}
